@using CP.Data.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<User>

@section header {
    <title>Main page</title>
}

@if (User.IsInRole("admin"))
{
    <h2>Users</h2>
    <table class="table_dark">
        <tr>
            <td>
                @Html.Label("Gender")
            </td>
            <td>
                @Html.Label("Age")
            </td>
            <td>
                @Html.Label("P_D")
            </td>
            <td>
                @Html.Label("A_S")
            </td>
            <td>
                @Html.Label("S_L")
            </td>
            <td>
                @Html.Label("N_O")
            </td>
            <td>
                @Html.Label("K")
            </td>
            <td>
                Mark for second test
            </td>
        </tr>
        @foreach (User us in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => us.Gender)
                </td>
                <td>
                    @Html.DisplayFor(m => us.Age)
                </td>
                <td>
                    @Html.DisplayFor(m => us.P_D)
                </td>
                <td>
                    @Html.DisplayFor(m => us.A_S)
                </td>
                <td>
                    @Html.DisplayFor(m => us.S_L)
                </td>
                <td>
                    @Html.DisplayFor(m => us.N_O)
                </td>
                <td>
                    @Html.DisplayFor(m => us.K)
                </td>
                <td>
                    @us.SecondTest.Mark
                </td>
            </tr>
        }
    </table>
    <text>Page</text> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <text>from</text> @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("HomePage", new {page}));

    <table class="table_dark">
        <tr>
            <td></td>
            <td>P_D</td>
            <td>A_S</td>
            <td>N_O</td>
            <td>S_L</td>
            <td>K</td>
            <td>Analiz for the second test</td>
        </tr>
        <tr>
            <td>
                Среднее значение
            </td>
            @foreach (double value in ViewBag.Averg)
            {
                <td>
                    @Math.Round(value,2)
                </td>
            }
        </tr>
        <tr>
            <td>
                Стандартное отклонение
            </td>
            @foreach (double value in ViewBag.AvergMiss)
            {
                <td>
                    @Math.Round(value, 2)
                </td>
            }
        </tr>
        <tr>
            <td>
                Стандартная ошибка средней арифметической
            </td>
            @foreach (double value in ViewBag.ErrAvergMath)
            {
                <td>
                    @Math.Round(value, 2)
                </td>
            }
        </tr>
    </table>
}
else
{
    <ul class="linkOnTest">
        <li class="testOne">
            @Html.ActionLink("First test", "Test_One", "Home")
        </li>
        <li class="testOne">
            @Html.ActionLink("Second test", "Test_Second", "SecondTest")
        </li>
    </ul>
}
