@model CP.Web.Models.LoginModel
@section header {
    <title>Login</title>
}
<div class="Validate">
    @Html.ValidationSummary()
</div>
<div class="MainAuth">
    <div class="Auth">
        @using (@Html.BeginForm("LoginPost", "Login", FormMethod.Post))
        {
            <div class="field-label">
                @Html.Label("Enter your name")
            </div>
            <div class="field-edit">
                @Html.EditorFor(lm => lm.UserName)
            </div>
            <div class="field-label">
                @Html.Label("Enter your password")
            </div>
            <div class="field-edit">
                @Html.EditorFor(lm => lm.Password)
            </div>
            <input class="buttonAuth" type="submit" value="Log in" />
        }
    </div>
</div>

