<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @RenderSection("header", false)
</head>

<body>
<ul class="navbar">
    <li class="navbar-left">
        @Html.ActionLink("Main page", "HomePage", "Home")
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        <li class="navbar-right">
            @Html.ActionLink("Login out", "LoginOut", "Login")
        </li>
        <li class="navbar-right">
            <a id="userName">Hello @User.Identity.Name</a>
        </li>
    }
    else
    {
        <li class="navbar-right">
            @Html.ActionLink("Login", "Login", "Login")
        </li>
        <li class="navbar-right">
            @Html.ActionLink("Registration", "Registration", "Login")
        </li>
    }
</ul>

@RenderBody()
</body>
</html>
